{% extends 'base.html.twig' %}

{% block title %}New Organisme{% endblock %}

{% block body %}
    <h1>Create new organisme</h1>

    {{ include('organisme_formation/_form.html.twig') }}

    <a href="{{ path('app_OrganismeFormation_index') }}">back to list</a>
{% endblock %}